

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: palevioletred;
}

.flexcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexitem{
  display: flex;
  width: 50%;
  margin-top: 5rem;
}

.bgsection{
  background-image: url('./images/food.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 35%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.Formdata{
  background-color: white;
  width: 60%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 2rem;
  
}

.Field{
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(39, 38, 38);
}

.radio label{
  margin: 0 0.5rem;
  
 


}


.checkbox{
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: left;
}
.btn{
  background-color: green;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}

.choose{
  padding: 1rem;
  text-align: left;
  width: 58%;
  border-radius: 5px;
  margin-bottom: 1rem;
}




